.popis {
  text-align: justify;
  margin: 50px;
  background-color: black;
  color: white;
}

.popis-headers {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

.obr2 {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 170px;
  height: 170px;
}

.obr3 {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 170px;
  height: 170px;
}
