.blok {
    padding-top: 5px;
    
    
    box-shadow: 5px 5px 3px gray;
    background-color: lightgray;
    border-radius: 15px;
  }
  
  .bloktext {
    margin: 15px;
    text-align: justify;
  }
  
  .blok:hover {
    box-shadow: 10px 10px 5px gray;
  }
  

  