<section id="Contact">
  <div class="kontakt">
    <address>
      <b style="color: red; font:larger">FRANCO&PARTNERS Ltd.</b><br />
      Charkovska 12<br />
      SK-04022 Kosice<br />
      Slovakia<br /><br />

      <i class="fa fa-phone fa-1x"></i>
      Phone No.: +421 903 634 753<br />
      <i class="fa fa-envelope fa-1x"></i>
      e-mail: <a href="mailto:developer71@azet.sk">developer71@azet.sk</a><br />
      <br />
      <a href="https://www.facebook.com/franz.navratil/"
        ><i class="fa fa-facebook-square fa-2x"></i
      ></a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://twitter.com/NavratilFranz"
        ><i class="fa fa-twitter-square fa-2x"></i
      ></a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://www.xing.com/profile/Franz_Navratil/cv"
        ><i class="fa fa-xing-square fa-2x"></i
      ></a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://www.linkedin.com/in/dipl-ing-franz-navratil-a9809216/"
        ><i class="fa fa-linkedin-square fa-2x"></i
      ></a>
    </address>
  </div>
</section>
