<div class="container p-5 bg-dark text-white">
  <div class="row">
    <div class="col-md-12 text-center">WHAT WE OFFER</div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center"><app-blok
        header="PROGRAMMING IN JAVA"
        text="
        
          Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
          orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
          sapien in sodales consequat, metus erat pharetra neque, faucibus
          consequat velit libero eu augue. Proin fermentum posuere tellus,
          id dapibus libero efficitur pretium. Duis molestie sagittis risus.
          "
      ></app-blok></div>
    <div class="col-md-4 text-center"><app-blok
        header="PROGRAMMING IN JAVA"
        text="
        
          Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
          orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
          sapien in sodales consequat, metus erat pharetra neque, faucibus
          consequat velit libero eu augue. Proin fermentum posuere tellus,
          id dapibus libero efficitur pretium. Duis molestie sagittis risus.
          "
      ></app-blok></div>
    <div class="col-md-4 text-center"><app-blok
        header="PROGRAMMING IN JAVA"
        text="
        
          Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
          orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
          sapien in sodales consequat, metus erat pharetra neque, faucibus
          consequat velit libero eu augue. Proin fermentum posuere tellus,
          id dapibus libero efficitur pretium. Duis molestie sagittis risus.
          "
      ></app-blok></div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center"><app-blok
        header="PROGRAMMING IN JAVA"
        text="
        
          Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
          orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
          sapien in sodales consequat, metus erat pharetra neque, faucibus
          consequat velit libero eu augue. Proin fermentum posuere tellus,
          id dapibus libero efficitur pretium. Duis molestie sagittis risus.
          "
      ></app-blok></div>
    <div class="col-md-4 text-center"><app-blok
        header="PROGRAMMING IN JAVA"
        text="
        
          Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
          orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
          sapien in sodales consequat, metus erat pharetra neque, faucibus
          consequat velit libero eu augue. Proin fermentum posuere tellus,
          id dapibus libero efficitur pretium. Duis molestie sagittis risus.
          "
      ></app-blok></div>
    <div class="col-md-4 text-center"><app-blok
        header="PROGRAMMING IN JAVA"
        text="
        
          Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
          orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
          sapien in sodales consequat, metus erat pharetra neque, faucibus
          consequat velit libero eu augue. Proin fermentum posuere tellus,
          id dapibus libero efficitur pretium. Duis molestie sagittis risus.
          "
      ></app-blok></div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center"><app-blok
        header="PROGRAMMING IN JAVA"
        text="
        
          Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
          orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
          sapien in sodales consequat, metus erat pharetra neque, faucibus
          consequat velit libero eu augue. Proin fermentum posuere tellus,
          id dapibus libero efficitur pretium. Duis molestie sagittis risus.
          "
      ></app-blok></div>
    <div class="col-md-4 text-center"><app-blok
        header="PROGRAMMING IN JAVA"
        text="
        
          Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
          orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
          sapien in sodales consequat, metus erat pharetra neque, faucibus
          consequat velit libero eu augue. Proin fermentum posuere tellus,
          id dapibus libero efficitur pretium. Duis molestie sagittis risus.
          "
      ></app-blok></div>
    <div class="col-md-4 text-center"><app-blok
        header="PROGRAMMING IN JAVA"
        text="
        
          Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
          orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
          sapien in sodales consequat, metus erat pharetra neque, faucibus
          consequat velit libero eu augue. Proin fermentum posuere tellus,
          id dapibus libero efficitur pretium. Duis molestie sagittis risus.
          "
      ></app-blok></div>
</div>

</div>

