<dl>
<dt>Zoznam </dt>
<dd>Description</dd>
<dt>Zoznam2</dt>
<dd>Description2</dd>
</dl>
<p class="text-primary">Toto su klucove slova return print</p>
<p class="text-secondary">Toto je vzor</p>
<p class="text-success">Toto su klucove slova return print</p>
<p class="text-danger">Toto je vzor</p>
<p class="text-warning">Toto je vzor</p>
<p class="bg-primary">Toto su klucove slova return print</p>
<p class="bg-secondary">Toto je vzor</p>
<p class="bg-success">Toto su klucove slova return print</p>
<p class="bg-danger">Toto je vzor</p>
<p class="bg-warning">Toto je vzor</p>
<div class="jumbotron-fluid"><p class="text-black-50">Toto su klucove slova return print</p></div>
<img src="../assets/img/F.jpg" class="img-thumbnail mx-auto d-block img-fluid" alt="Moja fotka">


