<dl>
  <dt>Zoznam</dt>
  <dd>Description</dd>
  <dt>Zoznam2</dt>
  <dd>Description2</dd>
</dl>
<p class="text-primary">Toto su klucove slova return print</p>
<p class="text-secondary">Toto je vzor</p>
<p class="text-success">Toto su klucove slova return print</p>
<p class="text-danger">Toto je vzor</p>
<p class="text-warning">Toto je vzor</p>
<p class="bg-primary">Toto su klucove slova return print</p>
<p class="bg-secondary">Toto je vzor</p>
<p class="bg-success">Toto su klucove slova return print</p>
<p class="bg-danger">Toto je vzor</p>
<p class="bg-warning">Toto je vzor</p>
<div class="jumbotron-fluid">
  <p class="text-black-50">Toto su klucove slova return print</p>
</div>
<img
  src="../assets/img/F.jpg"
  class="img-thumbnail mx-auto d-block img-fluid"
  alt="Moja fotka"
/>
<div class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>OK
</div>
<div class="btn-group">
  <button type="button" class="btn btn-primary">OK</button>
  <button type="button" class="btn btn-primary">Cancel</button>
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      data-toggle="dropdown"
    >
      Help
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Pocitac</a>
      <a class="dropdown-item" href="#">System</a>
    </div>
  </div>
</div>
<div class="progress">
  <div
    class="progress-bar progress-bar-striped progress-bar-animated"
    style="width: 70%"
  >
    70%
  </div>
</div>
<div class="progress">
  <div class="progress-bar bg-success" style="width: 30%">ZA</div>
  <div class="progress-bar bg-warning" style="width: 10%">ZDRZALI SA</div>
  <div class="progress-bar bg-danger" style="width: 20%">PROTI</div>
</div>
<div style="text-align: center; width: 100%;">
<div class="spinner-border text-danger"></div>
<div class="spinner-grow text-danger"></div>
<button class="btn btn-danger" disabled><span class="spinner-border spinner-border-sm"></span>Loading...</button>
</div>

