<section id="WhatWeOffer">
  <div class="celok">
    <br /><br />
    <h1>WHAT WE OFFER?</h1>
    <table>
      <tr>
        <td>
          <app-blok
            header="PROGRAMMING IN JAVA"
            text="
            
              Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
              orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
              sapien in sodales consequat, metus erat pharetra neque, faucibus
              consequat velit libero eu augue. Proin fermentum posuere tellus,
              id dapibus libero efficitur pretium. Duis molestie sagittis risus.
              "
          ></app-blok>
        </td>
        <td>
          <app-blok
            header="PROGRAMMING IN JAVASCRIPT"
            text="
              Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
              orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
              sapien in sodales consequat, metus erat pharetra neque, faucibus
              consequat velit libero eu augue. Proin fermentum posuere tellus,
              id dapibus libero efficitur pretium. Duis molestie sagittis risus.
              "
          ></app-blok>
        </td>
        <td>
          <app-blok
            header="PROGRAMMING IN C#"
            text="
              Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
              orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
              sapien in sodales consequat, metus erat pharetra neque, faucibus
              consequat velit libero eu augue. Proin fermentum posuere tellus,
              id dapibus libero efficitur pretium. Duis molestie sagittis risus.
              "
          ></app-blok>
        </td>
      </tr>
      <tr>
        <td>
          <app-blok
            header="PROGRAMMING IN ANGULAR"
            text="
              Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
              orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
              sapien in sodales consequat, metus erat pharetra neque, faucibus
              consequat velit libero eu augue. Proin fermentum posuere tellus,
              id dapibus libero efficitur pretium. Duis molestie sagittis risus.
              "
          ></app-blok>
        </td>
        <td>
          <app-blok
            header="PROGRAMMING IN REACT"
            text="
              Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
              orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
              sapien in sodales consequat, metus erat pharetra neque, faucibus
              consequat velit libero eu augue. Proin fermentum posuere tellus,
              id dapibus libero efficitur pretium. Duis molestie sagittis risus."
          ></app-blok>
        </td>
        <td>
          <app-blok
            header="PROGRAMMING IN C"
            text="
              Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
              orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
              sapien in sodales consequat, metus erat pharetra neque, faucibus
              consequat velit libero eu augue. Proin fermentum posuere tellus,
              id dapibus libero efficitur pretium. Duis molestie sagittis risus.
            
              "
          ></app-blok>
        </td>
      </tr>
      <tr>
        <td>
          <app-blok
            header="PROGRAMMING IN HTML"
            text="
              Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
              orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
              sapien in sodales consequat, metus erat pharetra neque, faucibus
              consequat velit libero eu augue. Proin fermentum posuere tellus,
              id dapibus libero efficitur pretium. Duis molestie sagittis risus.
             "
          ></app-blok>
        </td>
        <td>
          <app-blok
            header="PROGRAMMING IN CSS"
            text="
              Cras ut tincidunt nibh. Vestibulum ante ipsum primis in faucibus
              orci luctus et ultrices posuere cubilia curae; Nam sollicitudin,
              sapien in sodales consequat, metus erat pharetra neque, faucibus
              consequat velit libero eu augue. Proin fermentum posuere tellus,
              id dapibus libero efficitur pretium. Duis molestie sagittis risus.
              "
          ></app-blok>
        </td>
        <td>
          <app-blok
            header="PROGRAMMING IN C++"
            text="Cras ut tincidunt nibh. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
        cubilia curae; Nam sollicitudin, sapien in sodales consequat, metus erat 
        pharetra neque, faucibus consequat velit libero eu augue. Proin fermentum 
        posuere tellus, id dapibus libero efficitur pretium. Duis molestie sagittis risus."
          ></app-blok>
        </td>
      </tr>
    </table>
    <br /><br />
  </div>
</section>
