<div class="celok">


<br><br>
<h1>WHAT WE OFFER?</h1>
<table >
  <tr>
    <td><div class="blok"><h3>PROGRAMMING IN JAVA</h3>
    <p class="bloktext">Cras ut tincidunt nibh. 
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
    cubilia curae; Nam sollicitudin, sapien in sodales consequat, metus erat 
    pharetra neque, faucibus consequat velit libero eu augue. Proin fermentum 
    posuere tellus, id dapibus libero efficitur pretium. Duis molestie sagittis risus.</p></div>
   </td>
    <td><div class="blok"><h3>PROGRAMMING IN JAVASCRIPT</h3>
        <p class="bloktext">Cras ut tincidunt nibh. 
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
            cubilia curae; Nam sollicitudin, sapien in sodales consequat, metus erat 
            pharetra neque, faucibus consequat velit libero eu augue. Proin fermentum 
            posuere tellus, id dapibus libero efficitur pretium. Duis molestie sagittis risus.</p></div></td>
    <td><div class="blok"><h3>PROGRAMMING IN C#</h3><p class="bloktext">Cras ut tincidunt nibh. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
        cubilia curae; Nam sollicitudin, sapien in sodales consequat, metus erat 
        pharetra neque, faucibus consequat velit libero eu augue. Proin fermentum 
        posuere tellus, id dapibus libero efficitur pretium. Duis molestie sagittis risus.</p></div></td>
  </tr>
  <tr>
    <td><div class="blok"><h3>PROGRAMMING IN ANGULAR</h3><p class="bloktext">Cras ut tincidunt nibh. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
        cubilia curae; Nam sollicitudin, sapien in sodales consequat, metus erat 
        pharetra neque, faucibus consequat velit libero eu augue. Proin fermentum 
        posuere tellus, id dapibus libero efficitur pretium. Duis molestie sagittis risus.</p></div></td>
    <td><div class="blok"><h3>PROGRAMMING IN REACT</h3><p class="bloktext">Cras ut tincidunt nibh. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
        cubilia curae; Nam sollicitudin, sapien in sodales consequat, metus erat 
        pharetra neque, faucibus consequat velit libero eu augue. Proin fermentum 
        posuere tellus, id dapibus libero efficitur pretium. Duis molestie sagittis risus.</p></div></td>
    <td><div class="blok"><h3>PROGRAMMING IN C</h3><p class="bloktext">Cras ut tincidunt nibh. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
        cubilia curae; Nam sollicitudin, sapien in sodales consequat, metus erat 
        pharetra neque, faucibus consequat velit libero eu augue. Proin fermentum 
        posuere tellus, id dapibus libero efficitur pretium. Duis molestie sagittis risus.</p></div></td>
  </tr>
  <tr>
    <td><div class="blok"><h3>PROGRAMMING IN HTML</h3><p class="bloktext">Cras ut tincidunt nibh. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
        cubilia curae; Nam sollicitudin, sapien in sodales consequat, metus erat 
        pharetra neque, faucibus consequat velit libero eu augue. Proin fermentum 
        posuere tellus, id dapibus libero efficitur pretium. Duis molestie sagittis risus.</p></div></td>
    <td><div class="blok"><h3>PROGRAMMING IN CSS</h3><p class="bloktext">Cras ut tincidunt nibh. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
        cubilia curae; Nam sollicitudin, sapien in sodales consequat, metus erat 
        pharetra neque, faucibus consequat velit libero eu augue. Proin fermentum 
        posuere tellus, id dapibus libero efficitur pretium. Duis molestie sagittis risus.</p></div></td>
    <td><div class="blok"><h3>PROGRAMMING IN C++</h3><p class="bloktext">Cras ut tincidunt nibh. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
        cubilia curae; Nam sollicitudin, sapien in sodales consequat, metus erat 
        pharetra neque, faucibus consequat velit libero eu augue. Proin fermentum 
        posuere tellus, id dapibus libero efficitur pretium. Duis molestie sagittis risus.</p></div></td>
  </tr>
  
</table><br><br></div>
