.uprava {
    background-image: url("src/assets/img/Uvodny-PIC.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    text-align: center;
    position: relative;
  }
  
  
  
  .zmena {
    margin-top: 160px;
    margin-bottom: 20px;
    position: absolute;
    width: 100%;
  }
  
  .zmena2 {
    margin-top: 180px;
    margin-bottom: 20px;
    position: absolute;
    width: 100%;
  }
  