<div class="navigation">
  <a href="#Home"><button type="button" class="pushable m-4"><span class="front">Home</span></button></a>
  <a href="#About"><button type="button" class="pushable m-4"><span class="front">About</span></button></a>
  <a href="#WhatWeOffer"><button type="button" class="pushable m-4"><span class="front">What we offer</span></button></a>
  <a href="https://github.com/FRANCOsk/" target="_blank"><button type="button" class="pushable m-4"><span class="front">
    Code example</span>
  </button></a>
  <a href="#Contact"><button type="button" class="pushable m-4"><span class="front">Contact</span></button></a>
</div>

<div class="uprava">
  <div class="zmena">
    <h1 class="text-black-50">WELCOME TO OUR COMPANY - <mark>FRANCO&PARTNERS!</mark></h1>
    <h2>YOUR PARTNER IN AREA SOFTWARE DEVELOPMENT, SOFTWARE TESTING AND SOFTWARE LOCALIZATION</h2>
    <h2>OUR WORK - CODING WITH PASSION</h2>
    <h3>WE SPEAK YOUR LANGUAGE..</h3>
    <h3>JAVA, JAVASCRIPT, ANGULAR, REACT, C#</h3>
    <h3>EXPERT FOR SW DEVELOPMENT, SW TESTING</h3>
    <h3>OBJECT ORIENTED PROGRAMMING, MANUAL TESTING, AUTOMATION TESTING</h3>
  </div>
</div>
